@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost/Jost-VariableFont_wght.ttf");
  /* Add more src lines if you have additional font file formats */
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

.active {
  background: linear-gradient(to right, #2af598, #009efd);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#hero_background_img {
  background-image: url("../assets/images/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background 1.png");
  background-size: cover;
  background-position: left;
}

.white_gradient {
  background: linear-gradient(to top, #fff, #ffffff00);
}

.bg_transparent {
  background-color: #ffffff24;
}

.dark_overlay {
  background-color: #00000080;
}

#int-1 {
  background-image: url("../assets/images/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall.png");
  background-position: left;
}
#int-2 {
  background-image: url("../assets/images/high-angle-desk-arrangement-with-plants.png");
  background-position: top;
}
#int-3 {
  background-image: url("../assets/images/unsplash_MBsReSZ2WNM.png");
  background-position: bottom;
}

#int-1 #int-2 #int-3 {
  background-size: cover;
}
